.cardFlex {
  display: flex;
}

.img-size {
  /* height: 250px; */
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 0;
  /* vertical-align: middle; */
  border-radius: 50%;
  /* display: block; */
	/* max-width: 100%; */
	/* object-fit: cover; */
  /* border-radius: 100%; */
  margin: 15px;
}

.diplay-inline-block {
  display: inline-block;
}

.image-container {
  /* width: 50%;
  margin: 0 auto; */
  /* display: flex;
  flex-direction: column; */
}


.img-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto; 
}

.single-img{
  padding:0 10px 10px;
}