.img-size-1 {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 0;
    border-radius: 50%;
    margin: 15px;
  }

.MonsterToClick {
    display : flex;
    flex-direction: column;
text-align: center;
margin : 0px}

.catchphrase {
    font-family: 'Creepster', cursive;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px white;

}

.timer {
    font-size: 5rem;
    color: red

}